<form (ngSubmit)="calculateYield()">
    <div>
        <label for="purchasePrice">Purchase price of the property:</label>
        <input type="number" id="purchasePrice" [(ngModel)]="purchasePrice" name="purchasePrice" required>
    </div>
    <div>
        <label for="monthlyRent">Montly rent amount:</label>
        <input type="number" id="monthlyRent" [(ngModel)]="monthlyRent" name="monthlyRent" required>
    </div>
    <div>
        <label for="rentalFee">Annual rental fee (%):</label>
        <input type="number" id="rentalFee" [(ngModel)]="rentalFee" name="rentalFee" required>
    </div>
    <button type="submit">Calculate</button>
</form>

<div>
    <p>The first year net income is: {{result.incomeYear1 | currency }}</p>
    <p>The second year net income is: {{result.incomeYear2 | currency }}</p>
    <p>The third year net income is: {{result.incomeYear3 | currency }}</p>
</div>